<div class="container mt-5">

  <div *ngIf="errorMsg" class="d-flex justify-content-center p-2 help-block">
    <p>{{ errorMsg }}</p>
  </div>

  <h2 class="pb-3 header-color justify-content-center">{{ header }}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="userName">User Name<p>*</p></label>
      <input type="text"
             class="form-control"
             id="userName"
             [(ngModel)]="user.userName"
             formControlName="userName"
             placeholder="Please Enter User Name Here">
      <div *ngIf="f.userName.touched && f.userName.invalid" class="alert alert-danger">
        <div *ngIf="f.userName.errors.required">User Name is required.</div>
        <div *ngIf="f.userName.errors.pattern">Enter only letters.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="firstName">First Name<p>*</p></label>
      <input type="text"
             formControlName="firstName"
             class="form-control"
             id="firstName"
             [(ngModel)]="user.firstName"
             name="firstName"
             placeholder="Please Enter First Name Here">
      <div *ngIf="f.firstName.touched && f.firstName.invalid" class="alert alert-danger">
        <div *ngIf="f.firstName.errors.required">First Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name<p>*</p></label>
      <input type="text"
             formControlName="lastName"
             class="form-control"
             id="lastName" [(ngModel)]="user.lastName"
             name="lastName"
             placeholder="Please Enter Last Name Here">
      <div *ngIf="f.lastName.touched && f.lastName.invalid" class="alert alert-danger">
        <div *ngIf="f.lastName.errors.required">Last Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="contactNo">Contact Number<p>*</p></label>
      <input type="text"
             formControlName="contactNo"
             class="form-control"
             id="contactNo"
             [(ngModel)]="user.contactNo"
             placeholder="Please Enter Contact Number Here">
      <div *ngIf="f.contactNo.errors && (f.contactNo.dirty && f.contactNo.touched)" class="alert alert-danger">
        <div *ngIf="f.contactNo.errors.required">Number is required.</div>
        <div *ngIf="f.contactNo.errors.pattern">Enter only number.</div>
        <div *ngIf="f.contactNo.errors.minlength || f.contactNo.errors.maxlength">Contact Number must be 10 digit long.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email Address<p>*</p></label>
      <input type="text"
             formControlName="email"
             class="form-control"
             id="email" [(ngModel)]="user.email"
             name="email"
             placeholder="Please Enter Email Address Here">
      <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
        <div *ngIf="f.email.errors.required">Email is required.</div>
        <div *ngIf="f.email.errors.pattern">Please Enter a Valid Email Address.</div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="!form.valid">Save</button>
      <button type="button" class="btn btn-secondary mt-3 ml-2" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
